* {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

.padding-top-bottom {
  padding: 40px 0;
}

/*BUTTON PRINCIPAL WS*/
.btn-principal {
  color: #fff;
  cursor: pointer;
  background-color: #333333;
  border-radius: 20px;
  border:none;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: .5s;
}

.btn-principal:hover {
  background-color: #e65540;
  transition: .5s;
}

.btn-principal:focus {
  outline: none;
}

.flex-container {
  align-items: center;
  color: #888888;
  display: flex;
  height: 60px;
  justify-content: space-between;
  position: relative;
}

.flex-container i {
  margin-right: 20px;
}

.flex-container i:hover {
  color: #e65540;
}

.box-left-social, .box-right-social {
  z-index: 1;
}


.box-right-social a {
  color: #888888;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
}

.nav-link {
  margin:  0 10px;
}

.box-logo {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 95%;
} 
/*BANNER*/
.item-slick {
  align-items: center;
  background-position: center;
  background-size: cover;
  display: flex !important;
  flex-direction: column;
  height: 570px;
  justify-content: center;
}

.text-banner {
  color: #fff;
  text-align: center;  
}

.text-banner h1 {
  font-size: 80px;
  font-weight: 900;
  position: relative;
  text-transform: uppercase;
}

.banner .text-banner h1::before {
  background-color: #fff;
  bottom: -5px;
  content: "";
  height: 5px;
  position: absolute;
  width: 100%;
}

.text-banner h2 {
  margin: 20px;
  font-size: 20px;
  text-transform: capitalize;
}

.text-banner .btn-principal {
  background-color: #fff;
  color: #000;
}

.text-banner .btn-principal:hover {
 background-color: #e65540;
 transition: .5s;
 color: #fff; 
}

.slick-prev-arrow, .slick-next-arrow {
  align-items: center;
  background-color: #969696;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  color: #fff;
  height: 40px;
  justify-content: center;
  position: absolute;
  transition: .5s;
  width: 40px;
  z-index: 999;
}

.slick-prev-arrow:hover, .slick-next-arrow:hover {
  background-color: #e65540;
  transition: .5s;
} 

.slick-prev-arrow {
  left: 25px;
  opacity: 0;
}

.slick-next-arrow {
  right: 25px;
  opacity: 0;

}

.banner:hover .slick-next-arrow, .banner:hover .slick-prev-arrow {
  opacity: 1;
}

.slick-slider {
  display: flex;
  align-items: center;
}


.banner img {
  object-fit: cover;
  width: 100%;
}

.banner-item {
  background-size: 100%;
  background-position: center;
  display: flex;
  height: 340px;
  justify-content: center;
  transition: .5s;
}

.banner-item:hover {
  background-size: 120%;
  transition: .5s;
}

.nav-tag {
  justify-content: center;
  color: #888888;
}

.nav-tag .nav-item a{
 color: #888888;
}

.nav-tag .nav-item a:hover, nav .nav-link:hover {
  color: #333333;
  text-decoration: underline;
}

.nav-item  a:before {
  position: absolute;
  width: 5000px;
  color: #000;
  content: " ";
}

.product img, .our-products img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product h1, .blog h1, .instagram h1, .related h1  {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  color: #222222;
  font-weight: 900;
}

.product p, .our-products p {
  margin: 0;
}

.title-product  {
  font-size: 15px;
  color: #555555;
  line-height: 1.5;
  cursor: pointer;
}

.title-product:hover {
  color: #e65540;
  transition: .5s;
}

.product h4, .our-products h4{
  font-size: 16px;
  color: #555555;
}

.product-new, .product-sale {
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 22px;
  border-radius: 11px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 99999999999999999999999999999999;
  margin-bottom: 0;
}

.product-new{
  background-color: #66a8a6;
}

.product-sale{
  background-color: #e65540;
}

.banner-item-1, .banner-item-2, .banner-item-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-tags .nav-link.active, nav .nav-link.active {
  text-decoration: underline;
  color: #333333;
}


.btn-banner {
  bottom: 10px;
  background-color: #fff;
  border: none;
  color: #333333;
  cursor: pointer;
  height: 40px;
  position: absolute;
  transition: .5s;
  width: 200px;
}

.btn-banner:hover {
  background-color: #e65540;
  color: #fff;
  transition: .5s;
}

.product-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin: 30px 0;
  width: 256px;
  height: 350px;
}

.product-item i {
  color: #fff;
  right: 20px;
  position: absolute;
  top: 20px;
  font-size: 20px;
  opacity: 0;
  transition: .5s;
  transform: scale(0);
}

.product-item:hover i{
  color: #fff;
  opacity: 1;
  transform: scale(1);
}

.product-item i:hover {
  opacity: 0;
}

.product-item:hover .heart-white {
  opacity: 0;
}

.product-flex {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.heart-white:hover {
  opacity: 1;
}

.product .btn-principal, .our-products .btn-principal, .related .btn-principal {
  bottom: -47px;
  position: absolute;
}

.product-new p, .product-sale p {
  margin-bottom: 0;
}


.mask-product:hover .btn-principal {
  bottom: 15px;
  z-index: 1;
}

.mask-product {
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  opacity: 0;
  top: 0;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  transition: .5s;
}

.product-item:hover .mask-product {
  opacity: 1;
  z-index: 99999999;
  transition: .5s;

}

.container-video {
  background-image: url("../img/bg-video-01.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  height: 600px;
  width: 100%;
}

.container-video h2 {
  font-size: 30px;
  font-weight: 900;
} 

.container-video h1 {
  font-size: 50px;
  font-weight: 900;
}
.container-video a {
  color: #fff;
  transition: .5s;
}

.mask-video {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
}


/*BLOG SECTION*/
.item-blog a {
  color: #212529;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  max-width: 100%;
  overflow: hidden;
  transition: .5s;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 20px 0 0 0;
}

.item-blog a:hover {
  color: #e65540;
  transition: .5s;
}

.img-blog-1 {
  background-image: url(../img/blog-01.jpg);
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 280px;
  transition: .5s;
}

.img-blog-1:hover {
  background-size: 120%;
  transition: .5s;
}

.item-blog p {
  font-size: 13px;
  color: #888888;
  line-height: 1.8;
}

.item-blog span {
  font-size: 13px;
  color: #555555;
}

.gallery-flex {
  display: flex;
  flex-wrap: wrap;
}

.gallery-instagram {
  background-image: url(../img/gallery-03.jpg);
  background-size: cover;
  width: 20%;
  height: 270px;
  overflow: hidden;
  position: relative;
}

.mask-instagram {
  background-color: rgba(0,0,0,0.84);
  opacity: 0;
  height: 100%;
  width: 100%;
}

.gallery-instagram:hover .mask-instagram {
  opacity: 1;

}

.description-gallery, .like-instagram {
  color: #cccccc;
  font-size: 13px;
  line-height: 1.8;
  margin-left: 40px;
  margin-right: 25px;
  opacity: 0;
  position: absolute;
  transition: .5s;
}

.description-gallery {
  bottom: -50px;
}

.like-instagram {
  color: #cccccc;
  transform-origin: top left;
  transform: scale(0);
  top: 40px;
}

.gallery-instagram:hover .like-instagram {
  transform: scale(1);

}

.gallery-instagram:hover .description-gallery {
  opacity: 1;
  transition: .5s;
  bottom: 10px;
}

.gallery-instagram:hover .like-instagram {
  opacity: 1;
}

.shipping h3 {
  font-size: 18px;
  color: #555555;
}

.shipping p {
  color: #888888;
  font-size: 13px;
  font-style: italic;
}

.box-shipping {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75px;
  justify-content: center;
}

.contact {
  background-color: #f0f0f0;
  color: #555555;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact input {
  background: none;
  border-bottom-width: thin;
  border-color: transparent transparent #cccccc transparent;
  display: inherit;
  width: 100%;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before	{
  content:'';
  height:1px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#e65540; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:0;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:100%;
}


/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#e65540; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#e65540; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#e65540; }
  to 	{ width:0; background:transparent; }
}

.contact-items {
  display: flex;
  justify-content: space-between;
}

.contact-items ul {
  list-style: none;
}

.contact-items ul li:hover {
  color: #e65540;
  transition: .5s;
}

.contact-items div {
  font-size: 13px;
  color: #555555;
  line-height: 1.8;
}

.contact-items li {
  cursor: pointer;
  line-height: 30px;
}

.contact h3 {
  color: #222222;
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.contact p {
  font-size: 13px;
  margin-bottom: 0;
}

.contact .btn-principal {
  margin-top: 20px;

}

.contact .box-left-social {
  margin-top: 30px;
}

.box-left-social i{
  margin-right: 20px;
  cursor: pointer;
}

.box-left-social i:hover {
  color: #e65540;
}

.payment{
  align-items: center;
  color: #888888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.payment span {
  margin-bottom: 10px;
}

/*SLIDESHOW*/
.slideshow {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.53);
  border-radius: 5px;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 20px;
  opacity: 0;
  position: fixed;
  right: 0;
  transition: .5s;
  transition: .5s;
  width: 40px;
  z-index: 999;
}

.slideshow-visible {
  opacity: 1;
}

.slideshow:hover {
  background-color: #e65540;
  transition: .5s;
}

@media screen and (max-width: 767px) and (min-width: 0px){
  .box-right-social, .box-left-social {
    display: none;
  }
  /*HEADER*/ 
  header {
    display: flex;
  }
  /*NAVBAR*/
  .nav-link {
    padding: 0;
  }
  /*BANNER*/
  .text-banner h1 {
    font-size: 44px;
  }

  /* .text-banner h1::before {
    width: 60% !important;
  } */

  .banner-item {
    margin-bottom: 44px;
  }

  .btn-banner {
    bottom: 60px;
  }


  .single-item {
    margin-bottom: 40px;
  }
  /*WIDGETS DE INSTAGRAM*/
  .gallery-instagram {
    width: 100%;
  }
  /*SHIPPING*/
  .box-shipping  {
    border-right: transparent !important;
    border-left: transparent !important;
  }
  /*FOOTER*/
  .contact-items {
    margin: 40px 0;
  }

  .payment p {
    text-align: center;
  }
} 

